<div class="common-currency-picker currency dropdown">
  <a class="dropdown-toggle" data-toggle="dropdown"><span class="current-currency">{{ shop.currency }}</span><span class="ti-angle-down"></span></a>
  {% assign currency = settings.supported_currencies | split: '|' %}
  <ul class="dropdown-menu dropdown-menu--xs-full">
    {% for value in currency %}
      {% assign array = value | split: ',' %}
      {% assign iso_4217 = array[0] | upcase | strip %}
      {% assign name = array[1] | strip %}
      <li data-currency="{{ iso_4217 }}" class="currency__item"><a style="cursor: pointer">{{ name }}</a></li>
    {% endfor %}
  </ul>
</div>

