<!-- Start Search Popap -->
<div class="search__area">
  <div class="container" >
    <div class="row" >
      <div class="col-md-12" >
        <div class="search__inner">
          <form action="/search" method="get" class="" role="search">
            <input type="search" name="q" value="{{ search.terms | escape }}" placeholder="{{ 'general.search.placeholder' | t }}" class="" aria-label="{{ 'general.search.placeholder' | t }}">
            <button type="submit"></button>
          </form>
          <div class="search__close__btn">
            <span class="search__close__btn_icon"><i class="zmdi zmdi-close"></i></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>