<ul class="view__mode" role="tablist">
  <li role="presentation" class="grid-view change-view{% unless template contains 'list' %} change-view--active{% endunless %}" data-view="grid"><a href="#"><i class="zmdi zmdi-grid"></i></a></li>
  <li role="presentation" class="list-view change-view{% if template contains 'list' %} change-view--active{% endif %}" data-view="list"><a href="#" role="tab" data-toggle="tab"><i class="zmdi zmdi-view-list"></i></a></li>
</ul>